// theme.scss

$primary: #1f2827;
$on-primary: #ffffff;
$secondary: #fc8212;
$on-secondary: #ffffff;
$surface: #fefefe;
$background: #ffffff;
$on-background: #000000;
$accent-gold: #f5a30b;
$accent-purple: #7618ce;
$accent-magenta: rgb(247, 1, 255);

// $background: #ccd4d8;

:root {
    --mdc-theme-primary: #1f2827;
    --mdc-theme-on-primary: #ffffff;
    --mdc-theme-secondary: #fc8212;
    --mdc-theme-on-secondary: #ffffff;
    --mdc-theme-surface: #fefefe;
    --mdc-theme-background: #ffffff;
    --mdc-theme-on-background: #000000;
    --mdc-theme-accent-gold: #f5a30b;
    --mdc-theme-accent-purple: #7618ce;
    --mdc-theme-accent-magenta: rgb( 247 , 1 , 255);
}
